#bezel-prong{
    width: 200px;
    float: right;
    padding: 10px;
}

footer{
    font-family: "novel-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #BFF3FF;
    background-color: #5A838C;
    padding: 20px;
    width: 100%;
}
.gallery-img{
    width: 400px;
    height: 600px;
    object-fit: cover;
    padding: 80px;
}
#home-title{
    font-size: 7rem;
    font-family: 'Italiana', sans-serif;
    color: #BFF3FF;
    background-color: #5A838C;
    width: 100%;
    display: block;
    padding-top: 100px;
    margin: auto;
    text-align: center;
    padding-bottom: 50px;
    border-radius: 30px;
}

#left-div{
    border-radius: 40px 40px 0px;
}

#active{
    color: #BFF3FF;
    background-color: #325158;
    font-weight: 900;
    border-radius: 30px;
    width: 210px;
}
    
-----------------  /* general */-----------------
.navbar{
    background-color: #BFF3FF;
}


.titles{
    font-size: 7rem;
    font-family: 'Italiana', sans-serif;
    color: #BFF3FF;
    background-color: #5A838C;
    padding-top: 78px;
    padding-bottom: 80px;
    padding-right: 20px;
    margin-right: 40px;
    border-radius: 0px 40px 40px 0px;
}

.intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style-type: none;
}

.blurb {
    font-family: "novel-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #325158;
    margin: auto;
    text-align: center;
    font-size: 2rem;
    width: 600px;
    padding-top: 200px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto;
}

h2{
    font-family: 'Italiana', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #325158;
    font-size: 2.3rem;
}

.grid-item p{
    font-family: "novel-sans-pro", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #325158;
    font: 1rem;
}

.grid-item{
    width: 500px;
    padding: 30px;
}

#description {
    font-family: 'Italiana', sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #325158;
    font-size: 2rem;
    text-align: center;
    
}


-----------------  /* navbar */-----------------
ul {
    width: 200px;
    margin: 20px;
    padding: 16px;
    width: 200px;
    background-color: #5A838C;
    display: block;
    border-radius: 55px 0px 55px 0px;
  }
  
  li a {
    display: block;
    color: #1e3135;
    width: 200px;
    padding: 8px;
    text-decoration: none;
    align-items: left;
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #325158;
    color: #BFF3FF;
    font-weight: 900;
    border-radius: 30px;
  }
  
  
.navbar {
    list-style-type: none;
    font-family: 'Italiana', sans-serif;
    font-size: 3rem;
    background-color: #5A838C;
    
}

.navbar div{
    background-color: #5A838C;
    width: 200px;
}
.active {
    background-color: #325158;
}

-----------------  /* horizontal navbar */-----------------
#home-title{
    font-size: 7rem;
    font-family: 'Italiana', sans-serif;
    color: #BFF3FF;
    background-color: #5A838C;
    width: 100%;
    display: block;
    padding-top: 40px;
}
.h-navbar{
    font-family: 'Italiana', sans-serif;
    font-size: 3rem;
    margin: auto;
    display: block;
    text-align: center;
}

.h-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1e3135;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .h-navbar li {
    float: left;
    list-style-type: none;
    text-align: center;
    display: block;
    padding-right: 80px;
    padding-left: 80px;
   
  }
  
  .h-navbar li a {
    color: #1e3135;
    padding: 14px 16px;
    text-decoration: none;
    
  }
  
  /* Change the link color to #111 (black) on hover */
  .h-navbar li a:hover {
    background-color: #325158;
    color: #BFF3FF;
    font-weight: 900;
  }

  .active {
    background-color: #325158;
  }
  .h-navbar ul {
    position: fixed;
    top: 0;
    width: 100%;
  }


-----------------  /* home page */-----------------
.background{
   display: block;
   width: 200px;
   margin: auto;
}

/* can't get to work?  */
-----------------  /* settings page */-----------------




#bezel-prong{
    width: 200px;
    float: right;
    padding: 10px;
}

#bead{
    height: 150px;
    float: right;
    padding: 10px;
}

#channel{
    width: 200px;
    float: right;
    padding: 10px;
}

#burnish{
    width: 200px;
    float: right;
    padding: 10px;
}

-----------------  /* cuts page */-----------------

.stones img{
    width: 400px;
    display: block;
}


#moonstone{
    width: 200px;
    float: right;
}

#diamond{
    width: 300px;
    float: right;
}

.more-stones{
    display: block;
    width: 200px;
    margin: auto;
}
-----------------  /* gallery page */-----------------


.gallery-img{
    width: 50px;
    object-fit: cover;
    padding: 130px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
/* moved to top  */

-----------------  /* responsiveness */-----------------