p{
    color: #BCE7FD;
    text-align: left;
    margin-left: 37%;
    margin-right: 37%;
    font-family: pf-marlet-display, sans-serif;
    font-weight: 400px;
    font-style: normal;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #C492B1;
    border-radius: 15%;
    padding-left: 10px;
    padding-right: 10px;
    scroll-padding-top: 20px;
}

header{ 
    text-align: center;
    color: #BCE7FD;
    font-size: 30px;
    font-family: yink, sans-serif;
    font-style: normal;
    font-weight: 400px;
    font-size: 150px; 
    padding-top: 400px;
    padding-bottom: 400px;
    border-radius: 15%;
    ;

}
 .box{
    color: #BCE7FD;
    font-family: pf-marlet-display, sans-serif;
    font-weight: 400px;
    font-style: bold;
    font-size: 30px;
    margin-left: 37%;
    writing-mode: vertical-lr;
    display: flex;
}

body {
   background-color: #AF3B6E;
}

.box h2{
    writing-mode: vertical-lr;
}